<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />    
  </head>
  <body>


    <h2>
      <% require 'date'; d = Date.today %>
      （<%= d %>採点中）
    </h2>

    <h1>
      Web技術入門シリーズ課題
    </h1>

    <p>
      DIVE INTO CODEでは、指定されている課題を全てクリアすることがコース卒業の条件となっています。

      このテキストでは、Rubyを通したWeb技術についての課題を行います。

      リファレンスで得た知識、教材で得た知識、自分で検索して得た知識、今までの知識などを駆使して開発しましょう。
    </p>
    
    <h2>課題
      <p>
        Web技術入門シリーズカリキュラムで作成したアプリケーションを元にした、リクエストに応じたDB操作をする簡易アプリケーションを作成する</p>
    </h2>
    Web技術入門シリーズ課題では、カリキュラムで作成したWeb技術入門シリーズアプリケーションの追加機能を実装していきます。
    以下の要件を満たしたアプリケーションを作成・提出しましょう。

    <pre>
    - Web技術入門シリーズカリキュラムで作成したWebアプリケーションに機能追加する形で実装を行うこと
    - 「`（DocumentRootの値）/`」、というURLで開く任意のHTMLページを一枚作成すること。（Not Foundを出さないようにすること。ページの内容について詳細は問わない）
    - ボタンを押すと、譲渡先が自家消費ではないもののgoyaの情報を載せたページが表示される機能を実装すること
    - ボタンを押すと、品質が悪いもの（false）のgoyaの情報を載せたページが表示される機能を実装すること
    </pre>

    <h3>注意1</h3>

    <p>
      本課題で使用するrequire 'cgi'、についてですが、このgemをrequireし、cgi = CGI.newしたファイルでは、そのファイルそのものが一個のCGIスクリプトとなってしまうため、 同じファイル内でrequire ‘pg’などができなくなります（この行を書き込むとエラーになります）。
      そのため、本課題を進める際は、htmlのページでpgから必要な情報を取得し、cgiではそれを使用するだけという実装にしていきましょう。
    </p>    　

    <h3>注意2</h3>

    <p>
      connection.execの中のコードに日本語を含みたい場合は、<code>(“syori~~~syori~~~ != '日本語’;”)</code>のように、処理はダブルクオートで、日本語を囲む部分はシングルクオートにしないとエラーが発生しますので、ご注意ください。
    </p>

    <h3>
      提出</h3>

    <p>以下のURLから提出をお願いします。</p>

    <url>
      https://client.diveintocode.jp/submissions/new
    </url>

    <footer>
    </footer>
  </body>
</html>
