<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>テスト！！！！！！！！！！！！！</h1>

    <% require 'pg' %>
    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>
    
    <!-- formに囲まれている内容を、indicate.rb(cgi)に送信しますという記述 -->
    <form action='indicate.cgi' method='POST'>
      下記に文字を入力してください<br><br>
      <!-- このinputに入力された情報が、submitの送信ボタンでデータとして送られる -->
      <!-- name='input'は送られた先の目印となる情報 -->
      <!-- type="text"は入力ができるフォームを作成するという記述 -->
      <input type="text"  name='input' ><br>
      <input type="submit" name="送信" >
    </form>

    <% result = connection.exec("SELECT weight, give_for FROM crops;") %>
    <% data = [] %>
    <% result.each do |record| %>
      <%  data << "ゴーヤの大きさ：#{record["weight"]}　売った相手：#{record["give_for"]}" %>
    <% end %>
    
    <form action="goya.cgi" method="POST">
      下記のボタンを押すと、ゴーヤの大きさと売った相手の情報ページに飛びます<br><br>
      <!-- valueには、送りたいデータを代入する -->
      <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya" value="<%= data.join(' ') %>">
      <input type="submit" name="送信" >
    </form>

    <% result = connection.exec("SELECT date, give_for, length, weight, quality FROM crops WHERE give_for <> '自家消費' ORDER BY date DESC, length DESC, weight DESC, quality ASC;") %>
    <% data2 = [] %>
    <% result.each do |record| %>
      <%  data2 << "#{record["date"]} #{record["give_for"]} #{record["length"]} #{record["weight"]} #{record["quality"]}" %>
    <% end %>
    
    
    <form action="give_for.cgi" method="POST">
      下記のボタンを押すと、譲渡先が自家消費ではないもののgoyaの情報を載せたページに飛びます<br><br>
      <!-- valueには、送りたいデータを代入する -->
      <!-- name="give_for"を、情報の目印とする -->
      <input type="text" name="give_for" value="<%= data2.join(' ') %>">
      <input type="submit" name="送信" >
    </form>

    <% result = connection.exec("SELECT date, give_for, length, weight, quality FROM crops WHERE quality = false ORDER BY date DESC, give_for DESC, length DESC, weight DESC;") %>
    <% data3 = [] %>
    <% result.each do |record| %>
      <%  data3 << "#{record["date"]} #{record["give_for"]} #{record["length"]} #{record["weight"]} #{record["quality"]}" %>
    <% end %>
    
    
    <form action="quality.cgi" method="POST">
      下記のボタンを押すと、品質が悪いもの（false）のgoyaの情報を載せたページに飛びます<br><br>
      <!-- valueには、送りたいデータを代入する -->
      <!-- name="give_for"を、情報の目印とする -->
      <input type="text" name="quality" value="<%= data3.join(' ') %>">
      <input type="submit" name="送信" >
    </form>

    
  </body>
</html>
